html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}


/*Estilos gerais*/

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f6f6f6; 
	font-size: 1em;
	line-height: 1.5em;
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	max-width: 100%;
	height: auto;
}

/*Estilos de cabecera*/

#main-header {
	background: #76b856;
	color: white;
	height: 80px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
    padding: 15px 0px 0px 10px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #065143;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.0em;
        /*padding: 0px 0px 0px 59px;*/
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.7em;
		color: #130303;
        
        /*padding: 0px 0px 0px 120px;*/
	}
/*logo grupo*/
#region-logo{
	float: left;
    padding: 0px 0px 0px 0px;
    text-decoration: none;}
 
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-left: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #07683e;
                    color: #d9b310;
                     border-bottom: 1px solid #008c8c;
                    -webkit-transition:  background 0.3s ease-in-out;
                    -moz-transition:  background 0.3s ease-in-out;
                    -ms-transition:  background 0.3s ease-in-out;
                    -o-transition:  background 0.3s ease-in-out;
                    transition:  background 0.3s ease-in-out;
                    
				}
                    

/* Estilos de contenido*/

#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}

/*Estilos pé de página*/

#main-footer {
	background: #76b856;
	color: white;
	text-align: center;
    font-size: 0.8em;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}

.footer-social { float: right; margin-top:5px; height:30px; }
ul {float:left; padding:0; margin:0;}
.footer-social li {float:left; list-style:none; margin-left:5px;}
.footer-social span { float:left; }

.footer-logos { float: left; margin-top:0px; height:30px; }
ul {float:left; padding:0; margin:0;}
.footer-logos li {float:left; list-style:none; margin-left:10px;}
.footer-logos span { float:left; }

p.CV {
    font-size: 0.8em;
	line-height: 1.2em;
}



*{
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}

#sidebar{
	background: #1d2731;
	width: 250px;
	height: 100%;
	top: 75px;
	left: -250px;
	padding: 20px 0 10px 0;
	text-align: center;
    position: fixed; 
	transition:left 1s;
	-webkit-transition:left 1s;
	-moz-transition:left 1s;
	-o-transition:left 1s;
	-ms-transition:left 1s;
}
#sidebar:hover{
	left :0px;
}
#logo a {
	color: #000000;
	font-size: 20px;
	border: 4px double;
	border-radius: 50%;
    	background: #80aaff;
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	line-height: 80px;
}

#icono{
	position: absolute;
	color: #fff;
	background: #1d2731;
	top: 60px;
	left: 250px;
	width: 50px;
	height: 50px;
	border-radius: 0px 4px 4px 0px;
	font-size: 28px;
	line-height: 50px;
}

#menu {
	margin-top: 30px;
}
#menu ul li{
	font-family: 'Exo 1', sans-serif;
	height: 100%;
	margin-top: 5px;
	transition: background 1s;
}
#menu ul li a{
	color: #fff;
}
#menu ul li:hover{
    background: #4ABCDD;
	border-left: 4px solid #fff;
	font-weight: bolder;
	font-size: 18px
}


#social{
    position:absolute;
    bottom:70px;
    left: 20px;
}
#social ul {
    margin: 10px;
}
#social ul li{
	display: inline;
	margin-left:10px;
}
#social li i{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: #fff;
	border: 2px solid #fff;
	line-height: 25px;
}

.fa{
	line-height: 25px;
}
.fa-facebook:hover{
	background: #3F5C9A;
	border: 2px solid #3F5C9A;
}
.fa-twitter:hover{
	background: #54A4DE;
	border: 2px solid #54A4DE;
}
.fa-linkedin:hover{
	background: #37678D;
	border: 2px solid #37678D;
}
#copyright{
	color: #fff;
	font-size: 14px;
}